.demo-card-wide.mdl-card {
    width: 300px;
    margin: 0 auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/welcome_card_tuts.png') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  body {
    padding: 0px 0 0;
    background: #fafafa;
    position: relative;
  }